<div class="profile-page">

    <%= render "userinfo" %>
  
    <div class="container">
      <div class="row">
  
        <div class="col-md-10 col-md-offset-1">
          <div class="article-toggle">
            <ul class="nav nav-pills outline-active">
              <li class="nav-item">
                <%= link_to '我的文章', user_profile_path, 
                class: 'nav-link' + (current_page?(user_profile_path) ? ' active' : '') %>
              </li>
        
              <li class="nav-item">
                <%= link_to '喜欢的文章', user_likes_path,
                class: 'nav-link' + (current_page?(user_likes_path) ? ' active' : '') %>
              </li>
  
            </ul>
          </div>
          
          <% if @articles.empty? %>
              <div class="article-preview">目前还没有文章。</div>
          <% else %>
            <% @articles.each do |article| %>
              <div class="article-preview"> 
    
                <div class="article-meta mb-3">
      
                  <%= link_to user_profile_path(article.user.username) do %>
                    <%= image_tag article.user.avatar, alt: "avatar" %>
                  <% end %>
              
                  <div class="info">
                    <%= link_to article.user.username, user_profile_path(article.user.username), class: 'author' %>
                    <span class="date"><%= article.created_at.strftime("%B %d, %Y") %></span>
                  </div>
                  <% if current_user %>
                    <% if article.liked_by?(current_user) %>
                      <%= button_to unlike_article_path(article.slug), method: :delete, remote: true,
                        form_class: "d-inline-block float-end", class: "btn btn-primary btn-sm " do %>
                        <i class="fa-solid fa-heart"></i>&nbsp;<span class="counter"><%= article.likes.count %></span>
                      <% end %>
                    <% else %>
                      <%= button_to like_article_path(article.slug), method: :post, remote: true,
                          form_class: "d-inline-block float-end", class: "btn btn-outline-primary btn-sm" do %>
                          <i class="fa-regular fa-heart"></i>&nbsp;<span class="counter"><%= article.likes.count %></span>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= button_to like_article_path(article.slug), method: :post, remote: true,
                        form_class: "d-inline-block float-end", class: "btn btn-outline-primary btn-sm" do %>
                        <i class="fa-regular fa-heart"></i>&nbsp;<span class="counter"><%= article.likes.count %></span>
                    <% end %>
                  <% end %>
                </div>
              
                <%= link_to article_path(article.slug), class: "article-link" do %>
                  <h1><%= article.title %></h1>
                  <p><%= article.description %></p>
                  <span>Read more...</span>
                  <ul class="tag-list">
                    <%= render "articles/tag", article: article %>
                  </ul>
                <% end %>
    
              </div>
            <% end %>
            <div class="text-center">
              <%= paginate @articles, theme: 'bootstrap-5',
              pagination_class: "flex-wrap justify-content-center" %>
            </div>
          <% end %>
        </div>
  
      </div>
    </div>
  
  </div>