<div class="profile-page">

  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-md-10 col-md-offset-1">
          <%= image_tag @user.avatar, alt: "avatar", class: "user-img" %>
          <h4><%= @user.username %></h4>
          <p><%= @user.bio %></p>


          <% if @user.id == current_user.id %>

            <%= link_to settings_path, class: "btn btn-sm btn-outline-secondary action-btn" do %>
              <i class="fa-solid fa-gear"></i>&nbsp; 编辑个人信息
            <% end %>

          <% else %>

            <button class="btn btn-sm btn-outline-secondary action-btn">
              <i class="fa-solid fa-plus"></i>
              &nbsp;
              关注 <%= @user.username %> <span class="counter">(10)</span>
            </button>

          <% end %>

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-10 col-md-offset-1">
        <div class="article-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" href="#">我的文章</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">收藏的文章</a>
            </li>
          </ul>
        </div>

        <% @user.articles.each do |article| %>
          <div class="article-preview"> 

            <div class="article-meta mb-3">
              
              <%= link_to user_profile_path(article.user.username) do %>
                <%= image_tag article.user.avatar, alt: "avatar" %>
              <% end %>
          
              <div class="info">
                <%= link_to article.user.username, user_profile_path(article.user.username), class: 'author' %>
                <span class="date"><%= article.created_at.strftime("%B %d, %Y") %></span>
              </div>
        
              <!-- 喜欢按钮，喜欢个数 -->
              <button class="btn btn-outline-primary btn-sm float-end">
                <i class="fa-solid fa-heart"></i> 715
              </button>
            </div>


            <%= link_to article, class: "article-link" do %>
              <h1><%= article.title %></h1>
              <p><%= article.description %></p>
              <span>Read more...</span>
              <ul class="tag-list">
                <li class="tag-default tag-pill tag-outline">
                  读书
                </li>
                <li class="tag-default tag-pill tag-outline">
                  技术
                </li>
                <li class="tag-default tag-pill tag-outline">
                  兴趣
                </li>
              </ul>
            <% end %>

          </div>
        <% end %>

      </div>

    </div>
  </div>

</div>