
<div class="auth-page">
  <div class="container mt-4">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center ">
          注册
        </h1>
        <p class="text-center">
          <a ui-sref="app.login" href="#/login">
            有一个账户？
          </a>
          <a ui-sref="app.register" href="#/register">
            需要一个帐户？
          </a>
        </p>


        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group mb-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", 
            class: "form-control form-control-lg",
            placeholder: "邮箱" %>
          </div>

          <div class="form-group mb-3">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", 
            class: "form-control form-control-lg",
            placeholder: "密码" %>
          </div>

          <div class="form-group mb-3">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", 
            class: "form-control form-control-lg",
            placeholder: "确认密码"  %>
          </div>
          <%= f.submit "注册", class: "btn btn-lg btn-primary float-end" %>
        <% end %>

      </div>

    </div>
  </div>
</div>