<div class="article-preview">
  <div class="article-meta mb-3">
  
    <%= link_to profile_path(article.user.username) do %>
      <%= image_tag article.user.avatar, alt: "avatar" %>
    <% end %>

    <div class="info">
      <%= link_to article.user.username, profile_path(article.user.username), class: 'author' %>
      <span class="date"><%= article.created_at.strftime("%B %d, %Y") %></span>
    </div>

    <!-- 喜欢按钮，喜欢个数 -->
    <button class="btn btn-outline-primary btn-sm float-end">
      <i class="fa-solid fa-heart"></i> 715
    </button>

  </div>
  
  <%= link_to article, class: "article-link" do %>
    <h1><%= article.title %></h1>
    <p><%= article.description %></p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline">
        读书
      </li>
      <li class="tag-default tag-pill tag-outline">
        技术
      </li>
      <li class="tag-default tag-pill tag-outline">
        兴趣
      </li>
    </ul>
  <% end %>

</div>
