

<div class="home-page">
  <div class="row mb-3">
    <div class="col-md-8 themed-grid-col">
      <%= render "feed" %>
      <div id="articles">
        <% @articles.each do |article| %>
          <%= render article %>
          <p>
            <%= link_to "Show this article", article %>
          </p>
        <% end %>
      </div>

      <%= link_to "New article", new_article_path %>
    </div>
    <div class="col-md-4 themed-grid-col">
      <%= render "tag" %>
    </div>
  </div>
</div>