<div class="auth-page">
  <div class="container mt-4">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center">登录</h1>
        <p class="text-center">
          <%= link_to '需要一个账号？', register_path %>
        </p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>  
        <div class="form-group mb-3">
          <%= f.email_field :email, autofocus: true, autocomplete: "email",
          class: "form-control form-control-lg", placeholder: "邮箱" %>
        </div>
      
        <div class="form-group mb-3">
          <%= f.password_field :password, autocomplete: "current-password",
          class: "form-control form-control-lg", placeholder: "密码" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="form-group mb-3">
            <%= f.check_box :remember_me %>
            <%= f.label :记住 %>
          </div>
        <% end %>
        <%= f.submit "登录", class: "btn btn-lg btn-primary float-end" %>
      <% end %>

    </div>
  </div>
</div>

