<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-between py-2 border-bottom">

    <%= link_to "地宫", articles_path, class: "d-flex align-items-center col-3 mb-2 mb-md-0 text-dark text-decoration-none" %>


      <% if !current_user %>
        <!-- 未登录 -->
        <div class="col-auto text-end">
          <%= link_to '注册', register_path, class: 'btn btn-outline-primary me-2' %>
          <%= link_to '登入', login_path, class: 'btn btn-primary' %>
        </div>
      <% else %>
        <!-- 登录 -->
        <ul class="nav col-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item">
            <%= link_to new_article_path, class: "nav-link px-2" do %>
              <i class="fa-solid fa-pen-to-square"></i>&nbsp;新建文章
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to settings_path, class: "nav-link px-2" do %>
              <i class="fa-solid fa-gear"></i>&nbsp;设置
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to user_profile_path(current_user.username), class: "nav-link px-2" do %>
              <%= image_tag current_user.avatar, alt: "avatar", class: "user-pic" %>
              <%= current_user.username %>
            <% end %>
          </li>
        </ul>
      <% end %> 

  </header>
</div>  